### Environment

In [4]:
import numpy as np
import pandas as pd
import os

### Important formulas

#### Crude birth rate represents the childbirths per 1,000 people each year
* This is a common measure of fertility for a given population. Statiticians use the crude birth rate in population geography and demography because it is a useful indicator in studies of population around the world. The crude birth rate could be of concern for particular countries who may be experiencing population decline or for national governments who are worried about population growth rates that are higher than their country can sustain

### Datasets

* Births: variables to use -  Number of births by district by neighborhood. 
* Population: variables to use - population per district.  With this we can calculate the crude birthrate per district.
* RFD: variables to use - rfd, a wealth indicator by district. http://www.bcn.cat/publicacions/pdf/rfd.pdf
* Unemployment: variables to use - registered unemployment. With the population variable we can calculate the percentage of registered unemployment
* Immigration

### Datasets Cleaned

* 2017_Birth_Totals_Andre_Yuyu
* 2017_Population_Totals_Andre_Yuyu
* 2017_birth_Rate_Poulation_C_Andre_Yuyu
* 2017_RFD_Andre_Yuyu
* 2017_immigration_final_sorted_Andre_Yuyu_V1
* 2017_unemployment_final

### Parameters of analysis

* Natality year 2017

### Step 1 - clean each database and order it alphabetically by neighborhood

---

#### birth file

We first noticed that births were seperated by boys and girls. Thus we seperated the two data sets to then merge

In [5]:
birth_df = pd.read_csv('Population/births.csv')
birth_df

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Number
0,2017,1,Ciutat Vella,1,el Raval,Boys,283
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Boys,56
2,2017,1,Ciutat Vella,3,la Barceloneta,Boys,51
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Boys,90
4,2017,2,Eixample,5,el Fort Pienc,Boys,117
...,...,...,...,...,...,...,...
729,2013,10,Sant Martí,70,el Besòs i el Maresme,Girls,93
730,2013,10,Sant Martí,71,Provençals del Poblenou,Girls,95
731,2013,10,Sant Martí,72,Sant Martí de Provençals,Girls,97
732,2013,10,Sant Martí,73,la Verneda i la Pau,Girls,94
733,2013,99,No consta,99,No consta,Girls,2

In [6]:
birth_2017 = birth_df[birth_df['Year'] == 2017]
birth_2017

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Number
0,2017,1,Ciutat Vella,1,el Raval,Boys,283
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Boys,56
2,2017,1,Ciutat Vella,3,la Barceloneta,Boys,51
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Boys,90
4,2017,2,Eixample,5,el Fort Pienc,Boys,117
...,...,...,...,...,...,...,...
141,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Girls,58
142,2017,10,Sant Martí,70,el Besòs i el Maresme,Girls,99
143,2017,10,Sant Martí,71,Provençals del Poblenou,Girls,80
144,2017,10,Sant Martí,72,Sant Martí de Provençals,Girls,98
145,2017,10,Sant Martí,73,la Verneda i la Pau,Girls,107

In [7]:
birth_2017_boys = birth_2017[birth_2017['Gender'] == 'Boys']
birth_2017_boys

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Number
0,2017,1,Ciutat Vella,1,el Raval,Boys,283
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Boys,56
2,2017,1,Ciutat Vella,3,la Barceloneta,Boys,51
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Boys,90
4,2017,2,Eixample,5,el Fort Pienc,Boys,117
...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Boys,103
69,2017,10,Sant Martí,70,el Besòs i el Maresme,Boys,119
70,2017,10,Sant Martí,71,Provençals del Poblenou,Boys,106
71,2017,10,Sant Martí,72,Sant Martí de Provençals,Boys,100
72,2017,10,Sant Martí,73,la Verneda i la Pau,Boys,122

In [8]:
birth_2017_girls = birth_2017[birth_2017['Gender'] == 'Girls']
birth_2017_girls

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Number
73,2017,1,Ciutat Vella,1,el Raval,Girls,219
74,2017,1,Ciutat Vella,2,el Barri Gòtic,Girls,53
75,2017,1,Ciutat Vella,3,la Barceloneta,Girls,50
76,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Girls,90
77,2017,2,Eixample,5,el Fort Pienc,Girls,114
...,...,...,...,...,...,...,...
141,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Girls,58
142,2017,10,Sant Martí,70,el Besòs i el Maresme,Girls,99
143,2017,10,Sant Martí,71,Provençals del Poblenou,Girls,80
144,2017,10,Sant Martí,72,Sant Martí de Provençals,Girls,98
145,2017,10,Sant Martí,73,la Verneda i la Pau,Girls,107

Merging both

In [12]:
birth_2017_Totals = pd.merge(birth_2017_boys,birth_2017_girls, how='inner', on=('Year','Neighborhood Name','District Code','District Name','Neighborhood Code'))
birth_2017_Totals

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender_x,Number_x,Gender_y,Number_y
0,2017,1,Ciutat Vella,1,el Raval,Boys,283,Girls,219
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Boys,56,Girls,53
2,2017,1,Ciutat Vella,3,la Barceloneta,Boys,51,Girls,50
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Boys,90,Girls,90
4,2017,2,Eixample,5,el Fort Pienc,Boys,117,Girls,114
...,...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Boys,103,Girls,58
69,2017,10,Sant Martí,70,el Besòs i el Maresme,Boys,119,Girls,99
70,2017,10,Sant Martí,71,Provençals del Poblenou,Boys,106,Girls,80
71,2017,10,Sant Martí,72,Sant Martí de Provençals,Boys,100,Girls,98
72,2017,10,Sant Martí,73,la Verneda i la Pau,Boys,122,Girls,107

In [13]:
birth_2017_Totals.drop(['Gender_x','Gender_y'], inplace=True, axis=1)

In [14]:
birth_2017_Totals

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Number_x,Number_y
0,2017,1,Ciutat Vella,1,el Raval,283,219
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90
4,2017,2,Eixample,5,el Fort Pienc,117,114
...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,103,58
69,2017,10,Sant Martí,70,el Besòs i el Maresme,119,99
70,2017,10,Sant Martí,71,Provençals del Poblenou,106,80
71,2017,10,Sant Martí,72,Sant Martí de Provençals,100,98
72,2017,10,Sant Martí,73,la Verneda i la Pau,122,107

In [15]:
birth_2017_Totals = birth_2017_Totals.rename(columns={'Number_x':'Total Boys Birth','Number_y':'Total Girls Birth'})

In [17]:
birth_2017_Totals['Total Births'] = birth_2017_Totals['Total Boys Birth'] + birth_2017_Totals['Total Girls Birth']

In [18]:
birth_2017_Totals

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births
0,2017,1,Ciutat Vella,1,el Raval,283,219,502
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53,109
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50,101
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90,180
4,2017,2,Eixample,5,el Fort Pienc,117,114,231
...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,103,58,161
69,2017,10,Sant Martí,70,el Besòs i el Maresme,119,99,218
70,2017,10,Sant Martí,71,Provençals del Poblenou,106,80,186
71,2017,10,Sant Martí,72,Sant Martí de Provençals,100,98,198
72,2017,10,Sant Martí,73,la Verneda i la Pau,122,107,229

In [26]:
os.getcwd()

'C:\\Users\\Jorge\\ironhack\\2nd Week\\Day 1\\Project\\Project-Week-2-Barcelona\\your-project'

In [27]:
birth_2017_Totals.to_csv('2017_Birth_Totals_Andre_Yuyu')

---

*Population*

In [19]:
population_df = pd.read_csv('Population/population.csv')

In [21]:
population_df

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
...,...,...,...,...,...,...,...,...
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [22]:
population_2017 = population_df[population_df["Year"] == 2017]

In [23]:
population_2017

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
...,...,...,...,...,...,...,...,...
14011,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,11
14012,2017,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,41
14013,2017,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,28
14014,2017,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,57
14015,2017,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,54

In [165]:
population_2017_totals = population_2017.groupby(['Neighborhood.Code','Year','District.Code','District.Name','Neighborhood.Name'])["Number"].sum().reset_index()
population_2017_totals

,Neighborhood.Code,Year,District.Code,District.Name,Neighborhood.Name,Number
0,1,2017,1,Ciutat Vella,el Raval,47608
1,2,2017,1,Ciutat Vella,el Barri Gòtic,16062
2,3,2017,1,Ciutat Vella,la Barceloneta,14996
3,4,2017,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",22721
4,5,2017,2,Eixample,el Fort Pienc,32016
...,...,...,...,...,...,...
68,69,2017,10,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,13629
69,70,2017,10,Sant Martí,el Besòs i el Maresme,23009
70,71,2017,10,Sant Martí,Provençals del Poblenou,20487
71,72,2017,10,Sant Martí,Sant Martí de Provençals,26146
72,73,2017,10,Sant Martí,la Verneda i la Pau,28691

In [166]:
population_2017_totals = population_2017_totals.rename(columns={'Neighborhood.Code':'Neighborhood Code',
                                       'District.Code':'District Code',
                                       'District.Name':'District Name',
                                       'Neighborhood.Name':'Neighborhood Name',
                                       'Number':'Population'})

In [168]:
population_2017_totals

,Neighborhood Code,Year,District Code,District Name,Neighborhood Name,Population
0,1,2017,1,Ciutat Vella,el Raval,47608
1,2,2017,1,Ciutat Vella,el Barri Gòtic,16062
2,3,2017,1,Ciutat Vella,la Barceloneta,14996
3,4,2017,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",22721
4,5,2017,2,Eixample,el Fort Pienc,32016
...,...,...,...,...,...,...
68,69,2017,10,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,13629
69,70,2017,10,Sant Martí,el Besòs i el Maresme,23009
70,71,2017,10,Sant Martí,Provençals del Poblenou,20487
71,72,2017,10,Sant Martí,Sant Martí de Provençals,26146
72,73,2017,10,Sant Martí,la Verneda i la Pau,28691

In [160]:
population_2017_totals.to_csv('2017_Population_Totals_Andre_Yuyu')

---

In [33]:
birth_Rate = pd.merge(birth_2017_Totals,population_2017_totals,how='inner',on=('Year','Neighborhood Name','District Code','District Name','Neighborhood Code'))

In [34]:
birth_Rate.head(5)

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births,Population
0,2017,1,Ciutat Vella,1,el Raval,283,219,502,47608
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53,109,16062
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50,101,14996
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90,180,22721
4,2017,2,Eixample,5,el Fort Pienc,117,114,231,32016

In [35]:
birth_Rate['Birth Rate'] = (birth_Rate['Total Births'] / birth_Rate['Population'])*1000

In [237]:
birth_Rate

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births,Population,Birth Rate
0,2017,1,Ciutat Vella,1,el Raval,283,219,502,47608,10.544446
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53,109,16062,6.786203
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50,101,14996,6.735129
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90,180,22721,7.922187
4,2017,2,Eixample,5,el Fort Pienc,117,114,231,32016,7.215142
...,...,...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,103,58,161,13629,11.813046
69,2017,10,Sant Martí,70,el Besòs i el Maresme,119,99,218,23009,9.474553
70,2017,10,Sant Martí,71,Provençals del Poblenou,106,80,186,20487,9.078928
71,2017,10,Sant Martí,72,Sant Martí de Provençals,100,98,198,26146,7.572860
72,2017,10,Sant Martí,73,la Verneda i la Pau,122,107,229,28691,7.981597

In [239]:
birth_Rate.to_csv('2017_birth_Rate_Poulation_C_Andre_Yuyu')

---

*RFD - Territorial Income Distribution in the city of Barcelona*

In [39]:
RFD_2017 = pd.read_csv('Population/RFD.csv')
RFD_2017.head(10)

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Índex RFD Barcelona = 100
0,2017,1,Ciutat Vella,1,el Raval,47986,71.2
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,106.1
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,79.6
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,99.4
4,2017,2,Eixample,5,el Fort Pienc,32048,106.5
5,2017,2,Eixample,6,la Sagrada Família,51651,101.8
6,2017,2,Eixample,7,la Dreta de l'Eixample,44246,175.9
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,42512,137.2
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,58315,110.2
9,2017,2,Eixample,10,Sant Antoni,38412,104.2

In [40]:
col_names = ["Year", "District Code","District Name","Neighborhood Code","Neighborhood Name", "Population","RFD BCN Index = 100"]

In [41]:
RFD_2017.columns = col_names

In [236]:
RFD_2017

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Population,RFD BCN Index = 100
0,2017,1,Ciutat Vella,1,el Raval,47986,71.2
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,106.1
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,79.6
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,99.4
4,2017,2,Eixample,5,el Fort Pienc,32048,106.5
...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13710,150.1
69,2017,10,Sant Martí,70,el Besòs i el Maresme,22893,60.4
70,2017,10,Sant Martí,71,Provençals del Poblenou,20649,102.3
71,2017,10,Sant Martí,72,Sant Martí de Provençals,26187,67.4
72,2017,10,Sant Martí,73,la Verneda i la Pau,28725,57.0

In [240]:
RFD_2017.to_csv('2017_RFD_Andre_Yuyu')

---

*Inmigration by Nationality*

In [184]:
immigration_original = pd.read_csv('Population/immigrants-by-nationality.csv')
immigration_original

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,2017,2,Eixample,5,el Fort Pienc,Spain,663
...,...,...,...,...,...,...,...
35219,2015,10,Sant Martí,70,el Besòs i el Maresme,No information,0
35220,2015,10,Sant Martí,71,Provençals del Poblenou,No information,0
35221,2015,10,Sant Martí,72,Sant Martí de Provençals,No information,0
35222,2015,10,Sant Martí,73,la Verneda i la Pau,No information,1
35223,2015,99,No consta,99,No consta,No information,0

In [185]:
immigration_original['Year'] == 2017

0         True
1         True
2         True
3         True
4         True
         ...
35219    False
35220    False
35221    False
35222    False
35223    False
Name: Year, Length: 35224, dtype: bool

In [186]:
immigration_2017 = immigration_original[immigration_original['Year'] == 2017]
immigration_2017

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,2017,2,Eixample,5,el Fort Pienc,Spain,663
...,...,...,...,...,...,...,...
11761,2017,10,Sant Martí,70,el Besòs i el Maresme,No information,0
11762,2017,10,Sant Martí,71,Provençals del Poblenou,No information,0
11763,2017,10,Sant Martí,72,Sant Martí de Provençals,No information,0
11764,2017,10,Sant Martí,73,la Verneda i la Pau,No information,0
11765,2017,99,No consta,99,No consta,No information,0

In [193]:
immigration_2017 = immigration_2017[immigration_2017['Neighborhood Code'] <=73]
immigration_2017

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number,Spanish Immigrants
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109,Spain
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482,Spain
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414,Spain
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537,Spain
4,2017,2,Eixample,5,el Fort Pienc,Spain,663,Spain
...,...,...,...,...,...,...,...,...
11760,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,No information,0,None Spain
11761,2017,10,Sant Martí,70,el Besòs i el Maresme,No information,0,None Spain
11762,2017,10,Sant Martí,71,Provençals del Poblenou,No information,0,None Spain
11763,2017,10,Sant Martí,72,Sant Martí de Provençals,No information,0,None Spain
11764,2017,10,Sant Martí,73,la Verneda i la Pau,No information,0,None Spain

In [194]:
immigration_2017['Spanish Immigrants'] = np.where(immigration_2017['Nationality'] == 'Spain','Spain','None Spain')
immigration_2017

C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number,Spanish Immigrants
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109,Spain
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482,Spain
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414,Spain
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537,Spain
4,2017,2,Eixample,5,el Fort Pienc,Spain,663,Spain
...,...,...,...,...,...,...,...,...
11760,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,No information,0,None Spain
11761,2017,10,Sant Martí,70,el Besòs i el Maresme,No information,0,None Spain
11762,2017,10,Sant Martí,71,Provençals del Poblenou,No information,0,None Spain
11763,2017,10,Sant Martí,72,Sant Martí de Provençals,No information,0,None Spain
11764,2017,10,Sant Martí,73,la Verneda i la Pau,No information,0,None Spain

In [195]:
spanish_nonspanish_im = immigration_2017.pivot(columns='Spanish Immigrants', values = 'Number')
spanish_nonspanish_im

Spanish Immigrants  None Spain   Spain
0                          NaN  1109.0
1                          NaN   482.0
2                          NaN   414.0
3                          NaN   537.0
4                          NaN   663.0
...                        ...     ...
11760                      0.0     NaN
11761                      0.0     NaN
11762                      0.0     NaN
11763                      0.0     NaN
11764                      0.0     NaN

[11607 rows x 2 columns]

In [196]:
immigration_2017_b = pd.concat([immigration_2017, spanish_nonspanish_im], axis=1)
immigration_2017_b

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number,Spanish Immigrants,None Spain,Spain
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109,Spain,NaN,1109.0
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482,Spain,NaN,482.0
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414,Spain,NaN,414.0
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537,Spain,NaN,537.0
4,2017,2,Eixample,5,el Fort Pienc,Spain,663,Spain,NaN,663.0
...,...,...,...,...,...,...,...,...,...,...
11760,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,No information,0,None Spain,0.0,NaN
11761,2017,10,Sant Martí,70,el Besòs i el Maresme,No information,0,None Spain,0.0,NaN
11762,2017,10,Sant Martí,71,Provençals del Poblenou,No information,0,None Spain,0.0,NaN
11763,2017,10,Sant Martí,72,Sant Martí de Provençals,No information,0,None Spain,0.0,NaN
11764,2017,10,Sant Martí,73,la Verneda i la Pau,No information,0,None Spain,0.0,NaN

In [199]:
immigration_2017_clean = immigration_2017_b.groupby(by=["Neighborhood Name","Year","District Code","District Name","Neighborhood Code"]).sum().reset_index()
immigration_2017_clean

,Neighborhood Name,Year,District Code,District Name,Neighborhood Code,Number,None Spain,Spain
0,Baró de Viver,2017,9,Sant Andreu,58,92,44.0,48.0
1,Can Baró,2017,7,Horta-Guinardó,34,473,245.0,228.0
2,Can Peguera,2017,8,Nou Barris,47,57,24.0,33.0
3,Canyelles,2017,8,Nou Barris,49,140,40.0,100.0
4,Ciutat Meridiana,2017,8,Nou Barris,55,838,614.0,224.0
...,...,...,...,...,...,...,...,...
68,la Vila Olímpica del Poblenou,2017,10,Sant Martí,67,410,232.0,178.0
69,la Vila de Gràcia,2017,6,Gràcia,31,3587,2172.0,1415.0
70,les Corts,2017,4,Les Corts,19,2276,1249.0,1027.0
71,les Roquetes,2017,8,Nou Barris,50,920,633.0,287.0
72,les Tres Torres,2017,5,Sarrià-Sant Gervasi,24,702,339.0,363.0

In [259]:
immigration_2017_final_sorted = immigration_2017_clean.sort_values('Neighborhood Code')
immigration_2017_final_renamed= immigration_2017_final_sorted.rename({'Number':'Total Inmigration',
                                      'None Spain':'None Spanish Inmigrants',
                                      'Spain':'Spanish Inmigrants'},axis=1)
immigration_2017_final_renamed

,Neighborhood Name,Year,District Code,District Name,Neighborhood Code,Total Inmigration,None Spanish Inmigrants,Spanish Inmigrants
45,el Raval,2017,1,Ciutat Vella,1,5400,4291.0,1109.0
30,el Barri Gòtic,2017,1,Ciutat Vella,2,2687,2205.0,482.0
48,la Barceloneta,2017,1,Ciutat Vella,3,1759,1345.0,414.0
19,"Sant Pere, Santa Caterina i la Ribera",2017,1,Ciutat Vella,4,2765,2228.0,537.0
39,el Fort Pienc,2017,2,Eixample,5,2237,1574.0,663.0
...,...,...,...,...,...,...,...,...
5,Diagonal Mar i el Front Marítim del Poblenou,2017,10,Sant Martí,69,780,523.0,257.0
31,el Besòs i el Maresme,2017,10,Sant Martí,70,2016,1478.0,538.0
12,Provençals del Poblenou,2017,10,Sant Martí,71,974,533.0,441.0
18,Sant Martí de Provençals,2017,10,Sant Martí,72,1073,611.0,462.0
67,la Verneda i la Pau,2017,10,Sant Martí,73,1240,726.0,514.0

In [260]:
immigration_2017_final_renamed.to_csv('2017_immigration_final_sorted_Andre_Yuyu_V1')

---

*Unemployment*

In [203]:
unemployment_original = pd.read_csv('Population/unemployment.csv')
unemployment_original

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630
...,...,...,...,...,...,...,...,...,...
14203,2013,December,10,Sant Martí,70,el Besòs i el Maresme,Female,Registered unemployed,1043
14204,2013,December,10,Sant Martí,71,Provençals del Poblenou,Female,Registered unemployed,738
14205,2013,December,10,Sant Martí,72,Sant Martí de Provençals,Female,Registered unemployed,1015
14206,2013,December,10,Sant Martí,73,la Verneda i la Pau,Female,Registered unemployed,1145
14207,2013,December,99,No consta,99,No consta,Female,Registered unemployed,0

In [207]:
unemployment_2017 = unemployment_original[unemployment_original['Year'] == 2017]
unemployment_2017

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630
...,...,...,...,...,...,...,...,...,...
3547,2017,December,10,Sant Martí,70,el Besòs i el Maresme,Female,Unemployment demand,178
3548,2017,December,10,Sant Martí,71,Provençals del Poblenou,Female,Unemployment demand,126
3549,2017,December,10,Sant Martí,72,Sant Martí de Provençals,Female,Unemployment demand,192
3550,2017,December,10,Sant Martí,73,la Verneda i la Pau,Female,Unemployment demand,220
3551,2017,December,99,No consta,99,No consta,Female,Unemployment demand,1

In [211]:
unemployment_2017 = unemployment_2017[unemployment_2017['Neighborhood Code'] <= 73]
unemployment_2017

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630
...,...,...,...,...,...,...,...,...,...
3546,2017,December,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,Unemployment demand,77
3547,2017,December,10,Sant Martí,70,el Besòs i el Maresme,Female,Unemployment demand,178
3548,2017,December,10,Sant Martí,71,Provençals del Poblenou,Female,Unemployment demand,126
3549,2017,December,10,Sant Martí,72,Sant Martí de Provençals,Female,Unemployment demand,192
3550,2017,December,10,Sant Martí,73,la Verneda i la Pau,Female,Unemployment demand,220

In [215]:
registered_nonregistered_values = unemployment_2017.pivot(columns='Demand_occupation', values = 'Number')
registered_nonregistered_values

Demand_occupation  Registered unemployed  Unemployment demand
0                                 2107.0                  NaN
1                                  538.0                  NaN
2                                  537.0                  NaN
3                                  741.0                  NaN
4                                  630.0                  NaN
...                                  ...                  ...
3546                                 NaN                 77.0
3547                                 NaN                178.0
3548                                 NaN                126.0
3549                                 NaN                192.0
3550                                 NaN                220.0

[3504 rows x 2 columns]

In [220]:
unemployment_2017 = pd.concat([unemployment_2017,registered_nonregistered_values],axis=1)
unemployment_2017

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number,Registered unemployed,Unemployment demand
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107,2107.0,NaN
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538,538.0,NaN
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537,537.0,NaN
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741,741.0,NaN
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630,630.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3546,2017,December,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,Unemployment demand,77,NaN,77.0
3547,2017,December,10,Sant Martí,70,el Besòs i el Maresme,Female,Unemployment demand,178,NaN,178.0
3548,2017,December,10,Sant Martí,71,Provençals del Poblenou,Female,Unemployment demand,126,NaN,126.0
3549,2017,December,10,Sant Martí,72,Sant Martí de Provençals,Female,Unemployment demand,192,NaN,192.0
3550,2017,December,10,Sant Martí,73,la Verneda i la Pau,Female,Unemployment demand,220,NaN,220.0

In [221]:
unemployment_2017_clean = unemployment_2017.groupby(by=['Neighborhood Name','Year','District Code','District Name','Neighborhood Code']).sum().reset_index()
unemployment_2017_clean

,Neighborhood Name,Year,District Code,District Name,Neighborhood Code,Number,Registered unemployed,Unemployment demand
0,Baró de Viver,2017,9,Sant Andreu,58,1887,1486.0,401.0
1,Can Baró,2017,7,Horta-Guinardó,34,5876,4520.0,1356.0
2,Can Peguera,2017,8,Nou Barris,47,1745,1408.0,337.0
3,Canyelles,2017,8,Nou Barris,49,6980,5648.0,1332.0
4,Ciutat Meridiana,2017,8,Nou Barris,55,13648,11375.0,2273.0
...,...,...,...,...,...,...,...,...
68,la Vila Olímpica del Poblenou,2017,10,Sant Martí,67,6349,4933.0,1416.0
69,la Vila de Gràcia,2017,6,Gràcia,31,31988,25089.0,6899.0
70,les Corts,2017,4,Les Corts,19,27912,21246.0,6666.0
71,les Roquetes,2017,8,Nou Barris,50,15135,12249.0,2886.0
72,les Tres Torres,2017,5,Sarrià-Sant Gervasi,24,5344,4172.0,1172.0

In [226]:
unemployment_2017_final = unemployment_2017_clean.rename({'Number':'Total Unemployment'},axis=1)

In [232]:
unemployment_2017_final_sorted = unemployment_2017_final.sort_values(by='Neighborhood Code')
unemployment_2017_final_sorted

,Neighborhood Name,Year,District Code,District Name,Neighborhood Code,Total Unemployment,Registered unemployed,Unemployment demand
45,el Raval,2017,1,Ciutat Vella,1,49606,40816.0,8790.0
30,el Barri Gòtic,2017,1,Ciutat Vella,2,13526,10522.0,3004.0
48,la Barceloneta,2017,1,Ciutat Vella,3,15966,12085.0,3881.0
19,"Sant Pere, Santa Caterina i la Ribera",2017,1,Ciutat Vella,4,22002,16696.0,5306.0
39,el Fort Pienc,2017,2,Eixample,5,19885,15374.0,4511.0
...,...,...,...,...,...,...,...,...
5,Diagonal Mar i el Front Marítim del Poblenou,2017,10,Sant Martí,69,9991,8020.0,1971.0
31,el Besòs i el Maresme,2017,10,Sant Martí,70,22873,18387.0,4486.0
12,Provençals del Poblenou,2017,10,Sant Martí,71,15556,12402.0,3154.0
18,Sant Martí de Provençals,2017,10,Sant Martí,72,21819,17368.0,4451.0
67,la Verneda i la Pau,2017,10,Sant Martí,73,24715,19672.0,5043.0

In [242]:
unemployment_2017_final_sorted.to_csv('2017_unemployment_final')

---

### Joining Dataframe CLEANED

In [246]:
birth_Rate

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births,Population,Birth Rate
0,2017,1,Ciutat Vella,1,el Raval,283,219,502,47608,10.544446
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53,109,16062,6.786203
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50,101,14996,6.735129
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90,180,22721,7.922187
4,2017,2,Eixample,5,el Fort Pienc,117,114,231,32016,7.215142
...,...,...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,103,58,161,13629,11.813046
69,2017,10,Sant Martí,70,el Besòs i el Maresme,119,99,218,23009,9.474553
70,2017,10,Sant Martí,71,Provençals del Poblenou,106,80,186,20487,9.078928
71,2017,10,Sant Martí,72,Sant Martí de Provençals,100,98,198,26146,7.572860
72,2017,10,Sant Martí,73,la Verneda i la Pau,122,107,229,28691,7.981597

In [247]:
RFD_2017

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Population,RFD BCN Index = 100
0,2017,1,Ciutat Vella,1,el Raval,47986,71.2
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,106.1
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,79.6
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,99.4
4,2017,2,Eixample,5,el Fort Pienc,32048,106.5
...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13710,150.1
69,2017,10,Sant Martí,70,el Besòs i el Maresme,22893,60.4
70,2017,10,Sant Martí,71,Provençals del Poblenou,20649,102.3
71,2017,10,Sant Martí,72,Sant Martí de Provençals,26187,67.4
72,2017,10,Sant Martí,73,la Verneda i la Pau,28725,57.0

In [261]:
immigration_2017_final_renamed

,Neighborhood Name,Year,District Code,District Name,Neighborhood Code,Total Inmigration,None Spanish Inmigrants,Spanish Inmigrants
45,el Raval,2017,1,Ciutat Vella,1,5400,4291.0,1109.0
30,el Barri Gòtic,2017,1,Ciutat Vella,2,2687,2205.0,482.0
48,la Barceloneta,2017,1,Ciutat Vella,3,1759,1345.0,414.0
19,"Sant Pere, Santa Caterina i la Ribera",2017,1,Ciutat Vella,4,2765,2228.0,537.0
39,el Fort Pienc,2017,2,Eixample,5,2237,1574.0,663.0
...,...,...,...,...,...,...,...,...
5,Diagonal Mar i el Front Marítim del Poblenou,2017,10,Sant Martí,69,780,523.0,257.0
31,el Besòs i el Maresme,2017,10,Sant Martí,70,2016,1478.0,538.0
12,Provençals del Poblenou,2017,10,Sant Martí,71,974,533.0,441.0
18,Sant Martí de Provençals,2017,10,Sant Martí,72,1073,611.0,462.0
67,la Verneda i la Pau,2017,10,Sant Martí,73,1240,726.0,514.0

In [243]:
unemployment_2017_final_sorted

,Neighborhood Name,Year,District Code,District Name,Neighborhood Code,Total Unemployment,Registered unemployed,Unemployment demand
45,el Raval,2017,1,Ciutat Vella,1,49606,40816.0,8790.0
30,el Barri Gòtic,2017,1,Ciutat Vella,2,13526,10522.0,3004.0
48,la Barceloneta,2017,1,Ciutat Vella,3,15966,12085.0,3881.0
19,"Sant Pere, Santa Caterina i la Ribera",2017,1,Ciutat Vella,4,22002,16696.0,5306.0
39,el Fort Pienc,2017,2,Eixample,5,19885,15374.0,4511.0
...,...,...,...,...,...,...,...,...
5,Diagonal Mar i el Front Marítim del Poblenou,2017,10,Sant Martí,69,9991,8020.0,1971.0
31,el Besòs i el Maresme,2017,10,Sant Martí,70,22873,18387.0,4486.0
12,Provençals del Poblenou,2017,10,Sant Martí,71,15556,12402.0,3154.0
18,Sant Martí de Provençals,2017,10,Sant Martí,72,21819,17368.0,4451.0
67,la Verneda i la Pau,2017,10,Sant Martí,73,24715,19672.0,5043.0

---

In [252]:
BirthRate_Pop_RFD = birth_Rate.merge(right=RFD_2017,how='inner',on=('Year','Neighborhood Name','District Code','District Name','Neighborhood Code'))

In [263]:
BirthRate_Pop_RFD_IMM = BirthRate_Pop_RFD.merge(right=immigration_2017_final_renamed,how='inner',on=('Year','Neighborhood Name','District Code','District Name','Neighborhood Code'))

In [265]:
BirthRate_Pop_RFD_IMM_UN= BirthRate_Pop_RFD_IMM.merge(right=unemployment_2017_final_sorted,how='inner',on=('Year','Neighborhood Name','District Code','District Name','Neighborhood Code'))

In [273]:
Dataset_2017_Natality= BirthRate_Pop_RFD_IMM_UN.drop('Population_x', axis=1)
b = Dataset_2017_Natality.rename(columns={'Population_y':'Population'})

In [276]:
b.head(1)

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births,Birth Rate,Population,RFD BCN Index = 100,Total Inmigration,None Spanish Inmigrants,Spanish Inmigrants,Total Unemployment,Registered unemployed,Unemployment demand
0,2017,1,Ciutat Vella,1,el Raval,283,219,502,10.544446,47986,71.2,5400,4291.0,1109.0,49606,40816.0,8790.0

In [277]:
DATASET_2017_NATALITY_PER_NEIGHBORHOOD = b

In [285]:
DATASET_2017_NATALITY_PER_NEIGHBORHOOD

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births,Birth Rate,Population,RFD BCN Index = 100,Total Inmigration,None Spanish Inmigrants,Spanish Inmigrants,Total Unemployment,Registered unemployed,Unemployment demand
0,2017,1,Ciutat Vella,1,el Raval,283,219,502,10.544446,47986,71.2,5400,4291.0,1109.0,49606,40816.0,8790.0
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53,109,6.786203,16240,106.1,2687,2205.0,482.0,13526,10522.0,3004.0
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50,101,6.735129,15101,79.6,1759,1345.0,414.0,15966,12085.0,3881.0
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90,180,7.922187,22923,99.4,2765,2228.0,537.0,22002,16696.0,5306.0
4,2017,2,Eixample,5,el Fort Pienc,117,114,231,7.215142,32048,106.5,2237,1574.0,663.0,19885,15374.0,4511.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,103,58,161,11.813046,13710,150.1,780,523.0,257.0,9991,8020.0,1971.0
69,2017,10,Sant Martí,70,el Besòs i el Maresme,119,99,218,9.474553,22893,60.4,2016,1478.0,538.0,22873,18387.0,4486.0
70,2017,10,Sant Martí,71,Provençals del Poblenou,106,80,186,9.078928,20649,102.3,974,533.0,441.0,15556,12402.0,3154.0
71,2017,10,Sant Martí,72,Sant Martí de Provençals,100,98,198,7.572860,26187,67.4,1073,611.0,462.0,21819,17368.0,4451.0
72,2017,10,Sant Martí,73,la Verneda i la Pau,122,107,229,7.981597,28725,57.0,1240,726.0,514.0,24715,19672.0,5043.0

In [279]:
DATASET_2017_NATALITY_PER_NEIGHBORHOOD.to_csv('DATASET_2017_NATALITY_PER_NEIGHBORHOOD')

---

### Analysis of Data

In [283]:
a = DATASET_2017_NATALITY_PER_NEIGHBORHOOD.corr()

In [291]:
DATASET_2017_NATALITY_PER_NEIGHBORHOOD

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Total Boys Birth,Total Girls Birth,Total Births,Birth Rate,Population,RFD BCN Index = 100,Total Inmigration,None Spanish Inmigrants,Spanish Inmigrants,Total Unemployment,Registered unemployed,Unemployment demand
0,2017,1,Ciutat Vella,1,el Raval,283,219,502,10.544446,47986,71.2,5400,4291.0,1109.0,49606,40816.0,8790.0
1,2017,1,Ciutat Vella,2,el Barri Gòtic,56,53,109,6.786203,16240,106.1,2687,2205.0,482.0,13526,10522.0,3004.0
2,2017,1,Ciutat Vella,3,la Barceloneta,51,50,101,6.735129,15101,79.6,1759,1345.0,414.0,15966,12085.0,3881.0
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",90,90,180,7.922187,22923,99.4,2765,2228.0,537.0,22002,16696.0,5306.0
4,2017,2,Eixample,5,el Fort Pienc,117,114,231,7.215142,32048,106.5,2237,1574.0,663.0,19885,15374.0,4511.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,103,58,161,11.813046,13710,150.1,780,523.0,257.0,9991,8020.0,1971.0
69,2017,10,Sant Martí,70,el Besòs i el Maresme,119,99,218,9.474553,22893,60.4,2016,1478.0,538.0,22873,18387.0,4486.0
70,2017,10,Sant Martí,71,Provençals del Poblenou,106,80,186,9.078928,20649,102.3,974,533.0,441.0,15556,12402.0,3154.0
71,2017,10,Sant Martí,72,Sant Martí de Provençals,100,98,198,7.572860,26187,67.4,1073,611.0,462.0,21819,17368.0,4451.0
72,2017,10,Sant Martí,73,la Verneda i la Pau,122,107,229,7.981597,28725,57.0,1240,726.0,514.0,24715,19672.0,5043.0

In [288]:
DATASET_2017_NATALITY_PER_NEIGHBORHOOD.corr()

,Year,District Code,Neighborhood Code,Total Boys Birth,Total Girls Birth,Total Births,Birth Rate,Population,RFD BCN Index = 100,Total Inmigration,None Spanish Inmigrants,Spanish Inmigrants,Total Unemployment,Registered unemployed,Unemployment demand
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Code,NaN,1.000000,0.980874,-0.269918,-0.273038,-0.273569,0.184133,-0.320929,-0.319395,-0.545675,-0.565497,-0.434071,-0.226579,-0.212769,-0.273985
Neighborhood Code,NaN,0.980874,1.000000,-0.237716,-0.253946,-0.247625,0.200865,-0.294882,-0.340667,-0.495077,-0.508540,-0.403646,-0.180407,-0.167462,-0.225409
Total Boys Birth,NaN,-0.269918,-0.237716,1.000000,0.969214,0.992499,-0.033866,0.968745,0.202454,0.879912,0.800855,0.941175,0.897002,0.891571,0.901426
Total Girls Birth,NaN,-0.273038,-0.253946,0.969214,1.000000,0.992045,-0.054645,0.978629,0.175908,0.861776,0.769723,0.953559,0.896226,0.888175,0.910414
Total Births,NaN,-0.273569,-0.247625,0.992499,0.992045,1.000000,-0.044447,0.981194,0.190850,0.877757,0.791632,0.954651,0.903600,0.896825,0.912906
Birth Rate,NaN,0.184133,0.200865,-0.033866,-0.054645,-0.044447,1.000000,-0.154205,-0.174933,-0.093338,-0.067992,-0.136688,-0.101492,-0.092728,-0.132320
Population,NaN,-0.320929,-0.294882,0.968745,0.978629,0.981194,-0.154205,1.000000,0.226172,0.870669,0.774699,0.969844,0.897797,0.886898,0.922555
RFD BCN Index = 100,NaN,-0.319395,-0.340667,0.202454,0.175908,0.190850,-0.174933,0.226172,1.000000,0.193229,0.138056,0.288841,-0.100999,-0.112726,-0.055577
Total Inmigration,NaN,-0.545675,-0.495077,0.879912,0.861776,0.877757,-0.093338,0.870669,0.193229,1.000000,0.982222,0.913034,0.848478,0.841548,0.859332
None Spanish Inmigrants,NaN,-0.565497,-0.508540,0.800855,0.769723,0.791632,-0.067992,0.774699,0.138056,0.982222,1.000000,0.820234,0.806727,0.803590,0.804202
Spanish Inmigrants,NaN,-0.434071,-0.403646,0.941175,0.953559,0.954651,-0.136688,0.969844,0.288841,0.913034,0.820234,1.000000,0.832630,0.818331,0.871192
Total Unemployment,NaN,-0.226579,-0.180407,0.897002,0.896226,0.903600,-0.101492,0.897797,-0.100999,0.848478,0.806727,0.832630,1.000000,0.999003,0.986107
Registered unemployed,NaN,-0.212769,-0.167462,0.891571,0.888175,0.896825,-0.092728,0.886898,-0.112726,0.841548,0.803590,0.818331,0.999003,1.000000,0.977710
Unemployment demand,NaN,-0.273985,-0.225409,0.901426,0.910414,0.912906,-0.132320,0.922555,-0.055577,0.859332,0.804202,0.871192,0.986107,0.977710,1.000000

In [290]:
a['Birth Rate']

Year                            NaN
District Code              0.184133
Neighborhood Code          0.200865
Total Boys Birth          -0.033866
Total Girls Birth         -0.054645
Total Births              -0.044447
Birth Rate                 1.000000
Population                -0.154205
RFD BCN Index = 100       -0.174933
Total Inmigration         -0.093338
None Spanish Inmigrants   -0.067992
Spanish Inmigrants        -0.136688
Total Unemployment        -0.101492
Registered unemployed     -0.092728
Unemployment demand       -0.132320
Name: Birth Rate, dtype: float64